@model Whistleblower.ViewModels.WhistleViewModel

@{
    ViewBag.Title = "WhistleInput";
}



@Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="form-titel">
        <img src="~/images/omegapoint.png">
        <h4>Kontrollera ditt ärende</h4>
    </div>
    <hr />
    <div class="form-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @using (Html.BeginForm("WhistleConfirm", "Whistle", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.LabelFor(model => model.Whistle.About, htmlAttributes: new { @class = "" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Whistle.About, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Whistle.About, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.LabelFor(model => model.Whistle.When, htmlAttributes: new { @class = "" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Whistle.When, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Whistle.When, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.LabelFor(model => model.Whistle.Where, htmlAttributes: new { @class = "" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Whistle.Where, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Whistle.Where, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.LabelFor(model => model.Whistle.Description, htmlAttributes: new { @class = "" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Whistle.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Whistle.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.LabelFor(model => model.Whistle.Description_OtherEmployees, htmlAttributes: new { @class = "" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Whistle.Description_OtherEmployees, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Whistle.Description_OtherEmployees, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label>Image files</label>
                    <input type="file" name="FileUpload" id="FileUpload" accept="image/*" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="button" value="Tillbaka" class="btn btn-default" />
                    <input type="submit" name="button" value="Skicka" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ditt ärende är nu skickat!</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-danger">OBS! dessa uppgifter följer du ditt ärende med, var vänligen skriv ner dessa uppgifter detta meddelande kommer bara visas en gång</h4>
                <div>
                    <p class="h4">inloggnings id: @Html.DisplayFor(model => model.Whistle.user.UniqueID, new { @class = "glyphicon-bold" })</p>
                </div>
                <div>
                    <p class="h4">Lösenord: @Html.DisplayFor(model => model.Whistle.user.Password, new { @class = "" })</p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="goToMainPage">Återgå till huvudmeny</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    var uploadField = document.getElementById("FileUpload");
    var fileName;
    var extFile
    var acceptFiles = ["jpg", "jpeg", "png"];
    uploadField.onchange = function () {
        for (var i = 0; i < this.files.length; i++) {
            console.log(i);
            if (this.files[i].size > 2200000) {
                alert(this.files[i].name + " is over the 2mb limit!\n\nPlease try again..");
                this.value = "";
                break;
            };
            fileName = this.files[i].name;
            console.log(fileName);
            console.log(fileName.substr(fileName.length - 3));
            extFile = fileName.substr(fileName.length - 3);
            if (!acceptFiles.includes(extFile)) {
                alert(extFile + " is not an supported filetype!\n\nPlease try again..");
                this.value = "";
                break;
            };
        };
    };
</script>
    @if (Model.Whistle.user != null)
    {
        <script>
            $("#confirmModal").modal('show');
        </script>

        <script>
        $("#goToMainPage").click(function () {
        window.location.href = '@Url.Action("Index", "Whistle")'
    });
        </script>
        <script>
            $('input[type=file]').change(function () {
                console.dir(this.value);
                console.dir(this.files[0])
            })
        </script>  
    }
}
