@model Whistleblower.ViewModels.SafeboxViewmodel
@{
    ViewBag.Title = "Safebox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Din Safebox</h2>
<div id="wrapper" style="display:flex;">
    <div id="MessageList" style="width:250px; overflow-y:scroll; max-height:500px; max-width:350px; border:solid; border-width:2px; ">
        @foreach (Whistleblower.Models.Mail m in Model.MailList)
        {
        
            <div id="MailButton" onclick="RespondButtonVisibilty(@m.SentBool.ToString().ToLower(),'@m.Message');">
                @if (m.SentBool == true)
                {
                    <p>Skickat</p>
                }
                else
                {
                    <p>Mottagit</p>
                }
            </div>
        

      }
    </div>

            <div id="messageview" style=" width:700px; margin-left:10px; ">
                <div id="MessageWindow" style="border-style:solid; position:relative; border-width:2px; border-color:gray; height:400px;">
                    <p id="MessageText" style="text-wrap:normal;">@Model.SelectedMail.Message </p>
                </div>
                <div style=" width:100%;">
                    <input type="button" id="RespondBtn" value="Svara" onclick="location.href='Safebox#SendMailForm'" />
                </div>

            </div>

        </div>

<div id="SendMailForm">
    @using (Html.BeginForm("SendMail", "Home"))
    {
        <h1 style=" text-align:center">Svar</h1>

        <div class="form-group">
            @Html.LabelFor(m => m.Mail.Message)
            @Html.TextBoxFor(m => m.Mail.Message, new { @class = "form-control", @style = "margin:0 auto; resize:none; height:200px;" })
        </div>
        <input type="file" style="margin:0 auto;" multiple />
        <button type="submit" class="btn btn-primary">Skicka</button>
        <input type="button" class="btn btn-danger" value="Avbryt" onclick="location.href='Safebox#'" />

    }
</div>
<script>
    function RespondButtonVisibilty(Visible,message) {
        if (Visible == true) {
            document.getElementById('RespondBtn').style.display = 'none';
        } else {
            document.getElementById('RespondBtn').style.display = 'block';
        }
        document.getElementById('MessageText').innerHTML = message;
    }

</script>
