@model Whistleblower.Models.WhistleModel

@{
    ViewBag.Title = "Whistle";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div class="form-titel">
        <img src="~/images/omegapoint.png">
        <h4>Beskriv ditt ärende</h4>
        <p>Tänk på att beskriva ditt ärende så noggrant som möjligt för att underlätta vår utredning.</p>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.About, htmlAttributes: new { @class = "" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.About, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.LabelFor(model => model.When, htmlAttributes: new { @class = "" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.When, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.When, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.LabelFor(model => model.Where, htmlAttributes: new { @class = "" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Where, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Where, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
