@model Whistleblower.ViewModels.SafeboxViewmodel
@{ ViewBag.Title = "Safebox";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2 style="text-align:center;"><b>Din Safebox</b></h2>
<button class="btn btn-danger" id="GoBack" style="float:right;">Gå tillbaka</button>
<div id="wrapper-safebox" style="display:block;">
    <div id="MessageList">
        @foreach (Whistleblower.Models.Mail m in Model._MailList)
        {

<div class="safebox" @*onclick="RespondButtonVisibilty('@m.MailSenderType', '@m.Message',@m.MailId);"*@>
    <div id="@m.MailSenderType" class="safeboxmail">
        @if (Session["LoggedInAsLawyer"].ToString() == "1")
        {
            if (m.MailSenderType == Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Whistler)
            {
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Mottagit</h3>
        <p><b>Datum/Tid skickad:</b></p>
        <p>@m.DateSent</p>
    </div>
    <div class="panel-body">
        <p><b>Meddelande:</b></p>
        <p>@m.Message</p>
    </div>
</div> }
else if (m.MailSenderType == Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Lawyer)
{
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Skickat</h3>
        <p><b>Datum/Tid skickad:</b></p>
        <p>@m.DateSent</p>
    </div>
    <div class="panel-body">
        <p><b>Meddelande:</b></p>
        <p>@m.Message</p>
    </div>
</div> }

}
else if (Session["LoggedInAsLawyer"].ToString() == "0")
{
if (m.MailSenderType == Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Whistler)
{
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Skickat</h3>
        <p><b>Datum/Tid skickad:</b></p>
        <p>@m.DateSent</p>
    </div>
    <div class="panel-body">
        <p><b>Meddelande:</b></p>
        <p>@m.Message</p>
    </div>
</div> }
else if (m.MailSenderType == Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Lawyer)
{
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Mottagit</h3>
        <p><b>Datum/Tid skickad:</b></p>
        <p>@m.DateSent</p>
    </div>
    <div class="panel-body">
        <p><b>Meddelande:</b></p>
        <p>@m.Message</p>
    </div>
</div>}
}
    </div>
</div>      }

    </div>

    <div style=" width:100%;">
        @if (Session["LoggedInAsLawyer"].ToString() == "1" || Whistleblower.ViewModels.SafeboxViewmodel.LastMessageType == 1)
        {
            if (Session["LoggedInAsLawyer"].ToString() == "1")
            {
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Skapa meddelande
</button> }
                else if (Whistleblower.ViewModels.SafeboxViewmodel.LastMessageType == 1)
                {
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Svara
</button>}
            }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    @using (Html.BeginForm("SendMail" + "/" + Model.WhistleId, "Safebox"))
    {
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Skicka meddelande</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Mail.Message)
                @Html.TextAreaFor(m => m.Mail.Message, new { @class = "form-control", @required = "required", @style = "margin:0 auto; resize:none; height:200px;" })
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Skicka</button>
            <input type="button" class="btn btn-danger" value="Avbryt" data-dismiss="modal" />
        </div>
    </div>
</div>}
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function RespondButtonVisibilty(SenderType, message,id) {
                    if (SenderType == "Whistler" ) {
                        document.getElementById('RespondBtn').style.display = 'none';
                    } else if (SenderType == "Lawyer" ) {
                        document.getElementById('RespondBtn').style.display = 'block';
                    }

                    jQuery.ajax({
                    type: "POST",
            url: "@Url.Action("SelectMail")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id }),
            success: function (data) {
                            alert(data);
                        },
            failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
    }
</script>
@section Scripts{
    @Scripts.Render("~/bundles/jquery")

    <script>
        $("#GoBack").click(function () {
        window.location.href = '@Url.Action("Whistle/" + Model.WhistleId, "Lawyer")'
    });
    </script>

}
