@model Whistleblower.ViewModels.SafeboxViewmodel
@{ ViewBag.Title = "Safebox";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@if (Session["LoggedInAsLawyer"].ToString() == "1")
{
    <button class="btn btn-danger" style="float:right" id="GoBackLawyer">Gå tillbaka</button> }
else
{
    <button class="btn btn-danger" id="GoBackWhistler">Gå tillbaka</button>
}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <h2 class="text-center"><b>Din Safebox</b></h2>

            </div>
        </div>
        <div class="panel-body pre-scrollable" style="max-height: 700px">
            @{string Sender = ""; string RowString = "";}
            @foreach (Whistleblower.Models.Mail m in Model._MailList)
            {
                Sender = "";
                RowString = "";
                switch (m.MailSenderType)
                {
                    case Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Whistler:
                        Sender = "float:right;";
                        break;
                    case Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Lawyer:
                        Sender = "float:left;";
                        break;
                    case Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.File:
                        RowString = "justify-content: center; display: flex;";
                        break;
                }
                <div class="row" style="@RowString">
                    <div class="col-sm-3" style="@Sender">
                        @if (Session["LoggedInAsLawyer"].ToString() == "1")
                        {
                            switch (m.MailSenderType)
                            {
                                case Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Whistler:
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Mottagit</h3>
                                            <p><b>Datum/Tid skickad:</b></p>
                                            <p>@m.DateSent</p>
                                        </div>
                                        <div class="panel-body">
                                            <p><b>Meddelande:</b></p>
                                            <p style="word-break: break-all">@m.Message</p>
                                        </div>
                                    </div>
                                    break;
                                case Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Lawyer:
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Skickat</h3>
                                            <p><b>Datum/Tid skickad:</b></p>
                                            <p>@m.DateSent</p>
                                        </div>
                                        <div class="panel-body">
                                            <p><b>Meddelande:</b></p>
                                            <p style="word-break: break-all">@m.Message</p>
                                        </div>
                                    </div>
                                    break;
                                case Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.File:
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fil</h3>
                                            <p><b>Datum/Tid skickad:</b></p>
                                            <p>@m.DateSent</p>
                                        </div>
                                        <div class="panel-body">
                                            @* Fil *@
                                        </div>
                                    </div>
                                    break;

                            }



                        }
                        else if (Session["LoggedInAsLawyer"].ToString() == "0")
                        {
                            switch (m.MailSenderType)
                            {
                                case Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Whistler:
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Skickat</h3>
                                            <p><b>Datum/Tid skickad:</b></p>
                                            <p>@m.DateSent</p>
                                        </div>
                                        <div class="panel-body" style="overflow-wrap: break-word;">
                                            <p><b>Meddelande:</b></p>
                                            <p>@m.Message</p>
                                        </div>
                                    </div>
                                    break;
                                case Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Lawyer:
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Mottagit</h3>
                                            <p><b>Datum/Tid skickad:</b></p>
                                            <p>@m.DateSent</p>
                                        </div>
                                        <div class="panel-body" style="overflow-wrap: break-word;">
                                            <p><b>Meddelande:</b></p>
                                            <p>@m.Message</p>
                                        </div>
                                    </div>
                                    break;
                                case Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.File:
                                    break;

                            }
                        }
                    </div>
                </div>
                }
                
            </div>
    </div>
</div>


<div id="buttonsend" style=" width:100%;">
    <p>@Session["LoggedInAsLawyer"].ToString()</p>
    @if (Session["LoggedInAsLawyer"].ToString() == "1" || Whistleblower.ViewModels.SafeboxViewmodel.LastMessageType == 1)
    {

        if (Session["LoggedInAsLawyer"].ToString() == "1")
        {
            <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#exampleModalCenter">
                Skapa meddelande
            </button> }
        else if (Whistleblower.ViewModels.SafeboxViewmodel.LastMessageType == 1)
        {
            <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#exampleModalCenter">
                Svara
            </button>}
    }
</div>

<div class="row text-center">
    @if (Model.Files.Count() > 0)
    {
        foreach (DB.File f in Model.Files)
        {
            <div class="col-xs-3 col-md-3">
                <div class="row">
                    <img src="@String.Format("data:" + f.Extension + ";base64,{0}", f.Base64)" class="pop" style="height:45%; width:45%;" />
                </div>
                <div class="row">
                    @Html.ActionLink("Download", "DownloadFile/" + f.FileID, "Lawyer")
                </div>
            </div>
        }
    }


</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="img">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview img-responsive" style="width:auto; height:auto;">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    @using (Html.BeginForm("SendMail" + "/" + Model.WhistleId, "Safebox"))
    {
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Skicka meddelande</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Mail.Message)
                        @Html.TextAreaFor(m => m.Mail.Message, new { @class = "form-control", @required = "required", @style = "margin:0 auto; resize:none; height:200px;" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Skicka</button>
                    <input type="button" class="btn btn-danger" value="Avbryt" data-dismiss="modal" />
                </div>
            </div>
        </div>}
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(function () {
            $('.pop').on('click', function () {
                console.log(this);
                $('.imagepreview').attr('src', $(this).attr('src'));
                jQuery.noConflict();
                $('#imagemodal').modal('show');
            });
        });
    </script>
    <script>
    function RespondButtonVisibilty(SenderType, message,id) {
                    if (SenderType == "Whistler" ) {
                        document.getElementById('RespondBtn').style.display = 'none';
                    } else if (SenderType == "Lawyer" ) {
                        document.getElementById('RespondBtn').style.display = 'block';
                    }

                    jQuery.ajax({
                    type: "POST",
            url: "@Url.Action("SelectMail")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id }),
            success: function (data) {
                            alert(data);
                        },
            failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
    }
    </script>

    <script>
        $("#GoBackLawyer").click(function () {
        window.location.href = '@Url.Action("Whistle/" + Model.WhistleId, "Lawyer")'
    });
    </script>
    <script>
        $("#GoBackWhistler").click(function () {
        window.location.href = '@Url.Action("ReportStatus", "Login")'
    });
    </script>

}
