@model Whistleblower.ViewModels.ReportStatusViewModel
@{ 
    
}
@{
    ViewBag.Title = "ReportStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="text-right">
        <button type="button" class="btn btn-danger text-right">Logout</button>

    </div>
</div>

<div class="form-titel">
    <img src="~/images/omegapoint.png">
</div>
<hr />

@*<table class="table">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Ärende</th>
                <th scope="col">Typ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayFor(model => model.Whistle.CurrentStatus)</th>
                <td>@Html.DisplayFor(model => model.Whistle.About)</td>
                <td>@Html.DisplayFor(model => model.Whistle.Description)</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" id="goToSafeBox">Safepostbox</button>*@
<div class="form-body">
    <div class="form-group">
        @Html.LabelFor(m => m.Whistle.About, new { @class = "h5", style = "font-weight: bold" })
        <div>@Html.DisplayFor(model => model.Whistle.About)</div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Whistle.Description, new { @class = "h5", style = "font-weight: bold" })
        <div>@Html.DisplayFor(model => model.Whistle.Description)</div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Whistle.When, new { @class = "h5", style = "font-weight: bold" })
        <div>@Html.DisplayFor(model => model.Whistle.When)</div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Whistle.Where, new { @class = "h5", style = "font-weight: bold" })
        <div>@Html.DisplayFor(model => model.Whistle.Where)</div>
    </div>
    <button type="button" class="btn btn-primary" id="goToSafeBox">Safepostbox</button>    
</div>

    

    @section Scripts{
        @Scripts.Render("~/bundles/jquery")

        <script>
        $(".btn").click(function () {
        window.location.href = '@Url.Action("LogOut", "Login")'
        console.log("test")
    });
        </script>

        <script>
        $("#goToSafeBox").click(function () {
        window.location.href = '@Url.Action("Safebox" + "/" + Model.Whistle.WhistleID, "Safebox")'
        console.log("test")
        });

            <script>
                var button = document.getElementById("goToSafeBox");

                if (@Model.Conversation.ConversationID == 0) {
                    document.getElementById("goToSafeBox").style.display = "none";
                } else {
                    document.getElementById("goToSafeBox").style.display = "block";
                }
        </script>
        </script>       
    }
