@model Whistleblower.ViewModels.ReportStatusViewModel
@{

}
@{
    ViewBag.Title = "ReportStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.AntiForgeryToken()

    


<div class="form-titel">
    <img src="~/images/omegapoint.png">
</div>
<hr />


<div class="container">
    <div class="form-body pull-right">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" id="LogOut">Logout</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="form-body">
        <div class="form-group">
            <div class="h5" style="font-weight:bold">Ärende status</div>
            <div>@Html.DisplayFor(model => model.Whistle.CurrentStatus)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Whistle.About, new { @class = "h5", style = "font-weight: bold" })
            <div>@Html.DisplayFor(model => model.Whistle.About)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Whistle.Description, new { @class = "h5", style = "font-weight: bold" })
            <div>@Html.DisplayFor(model => model.Whistle.Description)</div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Whistle.When, new { @class = "h5", style = "font-weight: bold" })
            <div>@Html.DisplayFor(model => model.Whistle.When)</div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Whistle.Where, new { @class = "h5", style = "font-weight: bold" })
            <div>@Html.DisplayFor(model => model.Whistle.Where)</div>
        </div>
        @if (Model.SafeBox == true)
        {
            List<Whistleblower.Models.Mail> TempList = DBHandler.GetMessages(Model.Whistle.WhistleID);
            if (TempList[TempList.Count() - 1].MailSenderType == Whistleblower.ViewModels.SafeboxViewmodel.MailSenders.Lawyer)
            {
                <button type="button" class="btn btn-info" id="goToSafeBox">Safepostbox</button><img src="~/images/285px-Chat_icon_new_message.svg.png" style="width:35px; height:30px; margin-left:15px;" />
            }
            else
            {
                <button type="button" class="btn btn-info" id="goToSafeBox">Safepostbox</button>
            }
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")

    <script>
        $("#LogOut").click(function () {
        window.location.href = '@Url.Action("LogOutUser", "Login")'
    });
    </script>

    <script>
        $("#goToSafeBox").click(function () {
        window.location.href = '@Url.Action("Safebox" + "/" + Model.Whistle.WhistleID, "Safebox")'
        console.log("test")
    });
    </script>

}
