@model Whistleblower.ViewModels.LawyerViewmodel
@{ ViewBag.Title = "Whistle";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@if (Model.SelectedWhistle.WhistleID == 0)
{
    Url.Action("WhistleHandler");
}

<div class="form-horizontal">
    <div class="text-right">
        <button type="button" id="logout" class="btn btn-danger text-right">Logout</button>
    </div>
</div>
<nav class="navbar text-center">
    <img src="~/images/omegapoint.png" width="250" height="100" class="">
    @Html.ActionLink("ALLA ÄRENDE", "WhistleHandler", "Lawyer", null, htmlAttributes: new { @class = "btn", style = "color: black; font-size:15px;" })
    @Html.ActionLink("Ärende: " + @Model.SelectedWhistle.WhistleID, "Whistle/" + @Model.SelectedWhistle.WhistleID, "Lawyer", null, htmlAttributes: new { @class = "btn", style = "color: black; font-size:15px; text-decoration: underline;" })
    @Html.ActionLink("Safebox", "Safebox/" + @Model.SelectedWhistle.WhistleID, "Whistle", null, htmlAttributes: new { @class = "btn", style = "color: black; font-size:15px;" })
</nav>
<hr />
@using (Html.BeginForm("HandleWhistleChange/" + Model.SelectedWhistle.WhistleID, "Lawyer", FormMethod.Post, Model))
{
    <div class="">
        <div style="text-align:center;">
            <h3>Status</h3>
            <div>
                @Html.DropDownListFor(m => m.SelectedWhistle.CurrentStatus, new SelectList(Model.WhistleStatuses), htmlAttributes: new { @id = "dropdown" })
            </div>
            <input type="submit" class="btn btn-primary" id="saveBtn" value="Spara" style="margin-top:5px; display: none" />
        </div>
    </div>

    <div class="">
        <div style="text-align:center;">
            <h3>@Html.LabelFor(m => m.SelectedWhistle.About, new { @class = "label label-info", style = "font-size: 15px;" })</h3>
            <div>
                <h4><label>@Model.SelectedWhistle.About</label></h4>
            </div>
        </div>
    </div>

    <div class="">
        <div style="text-align:center;">
            <h3>@Html.LabelFor(m => m.SelectedWhistle.Description, new { @class = "label label-info" })</h3>
            <div>
                <h4><label>@Model.SelectedWhistle.Description</label></h4>
            </div>
        </div>
    </div>

    <div class="">
        <div style="text-align:center;">
            <h3>@Html.LabelFor(m => m.SelectedWhistle.When, new { @class = "label label-info" })</h3>
            <div>
                <h4><label>@Model.SelectedWhistle.When</label></h4>
            </div>
        </div>
    </div>

    <div class="">
        <div style="text-align:center;">
            <h3>@Html.LabelFor(m => m.SelectedWhistle.Where, new { @class = "label label-info" })</h3>
            <div>
                <h4><label>@Model.SelectedWhistle.Where</label></h4>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="img">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview img-responsive" style="width:auto; height:auto;">
                </div>
            </div>
        </div>
    </div>


    <div class="text-center">
        <div class="clearfix">

            @if (Model.Files.Count() > 0)
            {
                foreach (DB.File f in Model.Files)
                {
                    <div class="col-xs-10 col-md-1">
                        <div class="row" style="margin-top: 25px">
                            <img src="@String.Format("data:" + f.Extension + ";base64,{0}", f.Base64)" class="pop" style="height: 100px; width: 100px;" />

                        </div>
                        <div class="row">
                            @Html.ActionLink("Download", "DownloadFile/" + f.FileID, "Lawyer")
                        </div>
                    </div>
                }
            }


        </div>
        @if (Model.Files.Count > 1)
        {
            @Html.ActionLink("Download all as .zip", "DownloadZip/" + Model.SelectedWhistle.WhistleID, "Lawyer")
        }
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('.pop').on('click', function () {
                console.log(this);
                console.log($(this).attr("src"));
                $('.imagepreview').attr('src', $(this).attr('src'));
                $('#imagemodal').modal('show');
            });
        });
    </script>
    <script>
        function downloadBase64File(contentType, base64Data, fileName) {
            const linkSource = `data:${contentType};base64,${base64Data}`;
            const downloadLink = document.createElement("a");
            downloadLink.href = linkSource;
            downloadLink.download = fileName;
            downloadLink.click();
        }
    </script>
    <script>
        $("#dropdown").change(function () {
            var x = document.getElementById("saveBtn");
            x.style.display = "";
        });
    </script>
    <script>
        $("#logout").click(function () {
        window.location.href = '@Url.Action("LogOutUser", "Login")'
    });
    </script>
}
