@model Whistleblower.ViewModels.LawyerViewmodel
@{ ViewBag.Title = "Whistle";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

@if(Model.SelectedWhistle.WhistleID == 0)
{
    Url.Action("WhistleHandler");
}
<div class="form-titel">
    <img src="~/images/omegapoint.png">
    <h2 style="text-align:center;">Ärende: @Model.SelectedWhistle.WhistleID</h2>
</div>
@using (Html.BeginForm("test/" + Model.SelectedWhistle.WhistleID, "Lawyer", FormMethod.Post))
{
<div style="text-align:center;">
    <h4>Status</h4>
    @Html.DropDownListFor(m => m.SelectedWhistle.CurrentStatus, new SelectList(Model.WhistleStatuses))
</div>
                <div style="text-align:center;">
                    <div>
                        @Html.LabelFor(m => m.SelectedWhistle.About)
                    </div>
                    <div>
                        <label>@Model.SelectedWhistle.About</label>
                    </div>
                    <div>
                        @Html.LabelFor(m => m.SelectedWhistle.Description)
                    </div>
                    <div>
                        <label>@Model.SelectedWhistle.Description</label>
                    </div>
                    <div>
                        @Html.LabelFor(m => m.SelectedWhistle.When)
                    </div>
                    <div>
                        <label>@Model.SelectedWhistle.When</label>
                    </div>
                    <div>
                        @Html.LabelFor(m => m.SelectedWhistle.Where)
                    </div>
                    <div>
                        <label>@Model.SelectedWhistle.Where</label>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-danger" href="@Url.Action("WhistleHandler")">Gå tillbaka</a>
                        <button type="submit" class="btn btn-success">Spara</button>
                        <a class="btn btn-primary" href="@Url.Action("Safebox" + "/" + Model.SelectedWhistle.WhistleID, "Safebox")">Gå till Safeboxen</a>
                    </div>

                </div>
}