@model IEnumerable<DB.Whistle>

@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="text-right">
        <button type="button" class="btn btn-danger text-right">Logout</button>

    </div>
</div>
<div class="form-horizontal">
    <div class="form-titel">
        <img src="~/images/omegapoint.png">
    </div>
    <hr />
    <div class="form-holder">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Whistle ID", "Dashboard", "Admin", new { SortBy = "whistleid" }, null)
                    </th>
                    <th>
                        @Html.ActionLink("About", "Dashboard", "Admin", new { SortBy = "about" }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Lawyer", "Dashboard", "Admin", new { SortBy = "lawyer" }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Date created", "Dashboard", "Admin", new { SortBy = "date" }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Status", "Dashboard", "Admin", new { SortBy = "status" }, null)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WhistleID)
                        </td>
                        <td>
                            @Html.ActionLink(item.About, "EditWhistle", "Admin", item, null)
                        </td>
                        <td>
                            @if (item.LawyerID > 0)
                            {
                                @DBHandler.LawyerNameByID(item.LawyerID)
                            }
                            else
                            {
                                @Html.ActionLink("Add Lawyer", "EditWhistle", "Admin", item, null)
                            }
                        </td>
                        <td>
                            @item.DateCreated.ToString("dddd, dd MMMM yyyy, HH:mm:ss")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isActive)
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jquery")

    <script>
                    $(".btn").click(function () {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Logout", "Login")',
                            success: function (res) {
                                window.location.href = '@Url.Action("LoginAdmin", "Login")'
                            }


                        });

        console.log("test")
    });
    </script>
}
